@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.container {
  width: 100%;
  padding: 0 20px 0 20px;
}

h3 {
  font-weight: bold;
  font-size: 1em;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Roboto', 'Shrikhand', cursive,sans-serif;
}

.header__acceuil {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__acceuil .logo {
  display: block;
}

.header__acceuil .logo img {
  height: 24px;
}

.header__restaurant {
  width: 100%;
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__restaurant .arrow {
  position: absolute;
  left: 10px;
}

.header__restaurant .logo {
  display: block;
}

.header__restaurant .logo img {
  height: 24px;
}

footer {
  background-color: #353535;
  padding-bottom: 20px !important;
}

footer h4 {
  font-family: "Shrikhand", cursive;
  color: #fff;
  font-weight: 100;
  font-size: 1.3em;
  padding: 25px 0 20px 0;
}

footer li {
  margin-bottom: 10px;
}

footer a {
  color: white;
}

footer a i {
  margin-right: 8px;
}

.btn_gradient {
  width: 220px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 1.5em;
  -webkit-box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn_gradient:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.heart {
  position: absolute;
  bottom: 25px;
  right: 25px;
  height: 25px;
  width: 25px;
}

.heart .fa-heart {
  position: absolute;
  font-size: 25px;
}

.heart .state_2 {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.heart .state_1 {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart:hover i.state_2 {
  opacity: 0;
}

.heart:hover i.state_1 {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.restaurant__heart {
  top: 276px;
}

/* animation fondu */
.entrees {
  animation: fadein 2000ms;
  -moz-animation: fadein 2000ms;
  /* Firefox */
  -webkit-animation: fadein 2000ms;
  /* Safari and Chrome */
}

.plats {
  animation: fadein 3000ms;
  -moz-animation: fadein 3000ms;
  /* Firefox */
  -webkit-animation: fadein 3000ms;
  /* Safari and Chrome */
}

.desserts {
  animation: fadein 4000ms;
  -moz-animation: fadein 4000ms;
  /* Firefox */
  -webkit-animation: fadein 4000ms;
  /* Safari and Chrome */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* spinner animation */
.spin-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  margin: auto;
}

.spin-wrapper .spinner {
  position: absolute;
  height: 100px;
  width: 100px;
  border: 3px solid transparent;
  border-top-color: #FF79DA;
  top: 50%;
  left: 50%;
  margin: -50px;
  border-radius: 50%;
  -webkit-animation: spin 3s linear forwards;
          animation: spin 3s linear forwards;
}

.spin-wrapper .spinner:before, .spin-wrapper .spinner:after {
  content: '';
  position: absolute;
  border: 3px solid transparent;
  border-radius: 50%;
}

.spin-wrapper .spinner:before {
  border-top-color: #9356DC;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  -webkit-animation: spin 3.5s linear forwards;
          animation: spin 3.5s linear forwards;
}

.spin-wrapper .spinner:after {
  border-top-color: #99E2D0;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  -webkit-animation: spin 4s linear forwards;
          animation: spin 4s linear forwards;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    z-index: 9;
  }
  99% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    z-index: 9;
  }
  100% {
    z-index: -3;
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    z-index: 9;
  }
  99% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    z-index: 9;
  }
  100% {
    z-index: -3;
    opacity: 0;
  }
}

.chargement {
  -webkit-animation: pop 0.3s linear forwards;
          animation: pop 0.3s linear forwards;
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
  opacity: 0;
}

@-webkit-keyframes pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  padding: 15px 0 15px 0;
  -webkit-box-shadow: inset 0px 2px 2px #bebebe;
          box-shadow: inset 0px 2px 2px #bebebe;
}

.localisation i {
  margin-right: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  padding: 40px 30px 50px 30px;
}

.introduction h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
}

.introduction p {
  text-align: center;
  font-size: 1em;
  font-weight: lighter;
}

.introduction .acceuil_btn {
  margin-top: 30px;
}

.fonctionnement {
  margin-top: 50px;
}

.fonctionnement h2 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1.4em;
}

.fonctionnement__card {
  width: 100%;
  height: 75px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.5em;
  -webkit-box-shadow: 0px 3px 10px #dfdfdf;
          box-shadow: 0px 3px 10px #dfdfdf;
}

.fonctionnement__card__numero {
  position: absolute;
  background-color: #9356DC;
  color: #f6f6f6;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  left: 10px;
  text-align: center;
  line-height: 25px;
}

.fonctionnement i {
  width: 30px;
  margin-left: 30px;
  margin-right: 20px;
  color: grey;
  font-size: 20px;
  text-align: center;
}

.test_hover:hover a.fonctionnement__card {
  background-color: rgba(147, 86, 220, 0.1);
}

.test_hover:hover a.fonctionnement__card i, .test_hover:hover a.fonctionnement__card .fonctionnement__card__texte {
  color: #9356DC;
}

.restaurant {
  padding-bottom: 45px;
}

.restaurant h2 {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 1.4em;
}

.restaurant .new {
  font-size: 14px;
  position: absolute;
  padding: 8px 10px;
  background-color: #99E2D0;
  color: #2b695a;
  border-radius: 2px;
  right: 12px;
  top: 15px;
}

.restaurant__card {
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 3px 10px #dfdfdf;
          box-shadow: 0px 3px 10px #dfdfdf;
  border-radius: 1.1em;
  margin-bottom: 15px;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.restaurant__card:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.restaurant__card img {
  width: 100%;
  height: 170px;
  border-top-left-radius: 1.1em;
  border-top-right-radius: 1.1em;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant__card__description {
  padding: 10px 0 10px 10px;
  width: 70%;
}

.restaurant__card__description p {
  font-size: 0.9em;
  font-weight: lighter;
}

.menu_btn {
  margin: auto;
  margin-top: 40px;
}

.main-title {
  padding-top: 20px;
}

.main-title h1 {
  font-family: 'Shrikhand';
  font-weight: bold;
  font-size: 1.7em;
  margin: 0;
}

.intro_image img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  margin-top: 200px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  padding-bottom: 40px;
}

.menu .categorie_titre {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.1em;
  margin-top: 20px;
}

.menu .line {
  display: block;
  border-bottom: 3px solid #99E2D0;
  width: 30px;
  margin-bottom: 10px;
}

.menu__card__description {
  height: 66px;
  position: relative;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 1.4em;
  -webkit-box-shadow: 0px 3px 10px #dfdfdf;
          box-shadow: 0px 3px 10px #dfdfdf;
  padding: 10px;
  padding-right: 15px;
  margin: 10px 0px;
  overflow: hidden;
}

.menu__card__description h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu__card__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 85%;
  font-size: 0.9em;
  font-weight: lighter;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu__card__description .prix {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  top: 5px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu__card__description .green_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  width: 60px;
  height: 100%;
  position: absolute;
  padding: 20px;
  right: -25px;
  border-top-right-radius: 1.4em;
  border-bottom-right-radius: 1.4em;
  top: 0;
  opacity: 0;
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

.menu__card__description .fa-check-circle {
  color: #fff;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  font-size: 1.5em;
}

.menu__card__description:hover h3 {
  width: 70%;
}

.menu__card__description:hover p {
  width: 70%;
}

.menu__card__description:hover .prix {
  -webkit-transform: translate(-55px);
          transform: translate(-55px);
}

.menu__card__description:hover .green_check {
  opacity: 1;
  -webkit-transform: translate(-25px);
          transform: translate(-25px);
}

.menu__card__description:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .test_hover {
    margin: auto;
    margin-top: 20px;
    width: 60%;
  }
  .test_hover .fonctionnement__card__numero {
    position: relative;
    left: -10px;
  }
  .restaurant {
    margin: auto;
  }
  .restaurant__card_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 90%;
    margin: auto;
    gap: 20px;
  }
  .restaurant__card_wrapper .restaurant__card {
    height: 250px;
    width: 45%;
  }
  .entrees ul {
    width: 90%;
    margin: auto;
  }
  .plats ul {
    width: 90%;
    margin: auto;
  }
  .desserts ul {
    width: 90%;
    margin: auto;
  }
}

@media screen and (min-width: 1440px) {
  .aside {
    width: 100%;
  }
  .aside .localisation {
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
    background: transparent;
    -webkit-box-shadow: 0px 0px 0px;
            box-shadow: 0px 0px 0px;
  }
  .aside .introduction {
    margin: auto;
    margin-bottom: 30px;
    border-radius: 20px;
    width: 40%;
  }
  .fonctionnement {
    width: 100%;
  }
  .fonctionnement ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .fonctionnement ul li {
    width: 30%;
  }
  .fonctionnement ul li .fonctionnement__card__numero {
    position: relative;
    margin-left: -20px;
  }
  .restaurant__card_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .restaurant__card_wrapper .restaurant__card {
    width: 30%;
    margin: 20px;
  }
  footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer h4 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer ul {
    width: 40%;
    margin: auto;
    text-align: center;
  }
  footer i {
    margin-right: 8px;
  }
  /* menu */
  .intro_image {
    margin-bottom: 300px;
  }
  .menu {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
    margin: auto;
    border-radius: 0;
  }
  .menu .main-title {
    width: 30%;
    position: relative;
    margin-left: 35%;
    margin-right: 35%;
  }
  .menu .entrees {
    width: 30%;
  }
  .menu .plats {
    width: 30%;
  }
  .menu .desserts {
    width: 30%;
  }
  .menu .menu_btn {
    width: 25%;
    font-size: 1.5em;
  }
  .restaurant__heart {
    top: 25px;
  }
}
/*# sourceMappingURL=main.css.map */