@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
  height: 100%;
}

ol, ul {
	list-style: none;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}


/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Roboto', 'Shrikhand', cursive,sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.container {
  width: 100%;
  padding: 0 20px 0 20px;
}

/* Couleur  */

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;


/* mixin  */

@mixin wrap_text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Titres  */



h3 {
  font-weight: bold;
  font-size: 1em
}




/* BTN */

.btn_gradient {
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(to bottom right, $secondary-color, $primary-color);
  border-radius: 1.5em;
  box-shadow: 3px 4px 8px 0 rgba(0,0,0,0.2);
  
}


.heart {
     
    position: absolute;
    bottom: 25px;
    right: 25px;
    height: 25px;
    width: 25px;

  .fa-heart {
    position: absolute;
    font-size: 25px;
  }
  
  .state_2 {
    transition: all .5s ease-in-out;
  }

  .state_1 {
    opacity: 0;
    transform: scale(0);
    transition: all .3s ease-in-out;
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.heart:hover{
  i.state_2{
    opacity: 0;
  }

  i.state_1 {
    opacity: 1;
    transform: scale(1);
  }
}




.restaurant__heart {
  top: 276px;
}


.header__acceuil {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

    .logo {
      display: block;
        
        img {
        height: 24px;

        }
    }
}
  
.localisation {
  display: flex;
  justify-content: center;
  background-color:#eaeaea;
  padding: 15px 0 15px 0;
  box-shadow: inset 0px 2px 2px #bebebe;
  

   i {
     margin-right: 20px;
     align-self: center;
   }
}

.introduction {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 40px 30px 50px 30px ;

   h1 {
     text-align: center;
     font-weight: bold;
     font-size: 1.3em;
   }

   p {
     text-align: center;
     font-size: 1em;
     font-weight: lighter;
   }

  .acceuil_btn {
    margin-top: 30px;

  }
}

.fonctionnement {
  margin-top: 50px;

    h2 {
      margin-bottom: 30px;
      font-weight: bold;
      font-size: 1.4em;
    }

    &__card {
     width: 100%;
     height: 75px;
     background-color: #f6f6f6;
     display: flex;
     margin-bottom: 20px;
     align-items: center;
     border-radius: 1.5em;
     box-shadow: 0px 3px 10px #dfdfdf;

     /*&:hover {
      
      color: $primary-color;
     }*/
     
      &__numero {
        position: absolute;
        background-color: #9356DC;
        color: #f6f6f6;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        left: 10px;
        text-align: center;
        line-height: 25px;
      }

      }
      i {
        width: 30px;
        margin-left: 30px;
        margin-right: 20px;
        color: grey;
        font-size: 20px;
        text-align: center;

        /*&:hover {
          color: $primary-color;
        }*/
      }


  
}

.test_hover:hover {
  a.fonctionnement__card {
      background-color: rgba(147, 86, 220, 0.1);

      i, .fonctionnement__card__texte {
        color: $primary-color;
      }
  }
}

.restaurant {
  padding-bottom: 45px;


  h2 {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 1.4em;
  }

  .new {
    font-size: 14px;
    position: absolute;
    padding: 8px 10px;
    background-color: $third-color;
    color: #2b695a;
    border-radius: 2px;
    right: 12px;
    top: 15px;
   }

  &__card {
    width: 100%;
    height: 245px;
    background-color: white;
    box-shadow: 0px 3px 10px #dfdfdf;
    border-radius: 1.1em;
    margin-bottom: 15px;
    position: relative;
    

     img {
       width: 100%;
       height: 170px;
       border-top-left-radius: 1.1em;
       border-top-right-radius: 1.1em;
       object-fit: cover;
     }

     &__description {
       padding: 20px 0 10px 10px;
       width: 70%;

       p {
        font-size: 0.9em;
        font-weight: lighter;
       }
     }
    }
}





.menu_btn {
  
  margin: auto;
  margin-top: 40px;
}




footer {
  background-color: #353535 ;
  padding-bottom: 20px !important; 

  h4 {
    font-family: "Shrikhand", cursive;
    color: #fff;
    font-weight: 100;
    font-size: 1.3em;
    padding: 25px 0 20px 0;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    color: white;

    i {
      margin-right: 8px;
      width: 6%;
    }
  }
}


/* La palette du gout  */

.header__restaurant {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  
 
  .arrow {
   padding-left: 20px;
   margin-right: 80px;
  }

  .logo {
    display: block;
      
      img {
        height: 24px;
      }
  }
}


.main-title {
  padding-top: 20px;
  
    h1 {
      font-family: 'Shrikhand';
      font-weight: bold;
      font-size: 1.7em;
      margin: 0;
    }
}

.intro_image {
  
  img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}

.menu{
  margin-top: 200px;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  padding-bottom: 40px;

  .categorie_titre {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.1em;
    margin-top: 20px;
  }

  .line {
    display: block;
    border-bottom: 3px solid $third-color;
    width: 30px;
    margin-bottom: 10px;
  }

  &__card__description {
    height: 66px;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    border-radius: 1.4em;
    box-shadow: 0px 3px 10px #dfdfdf;
    padding: 10px;
    padding-right: 15px;
    margin: 10px 0px;
    overflow: hidden;
    
    
    h3 {
      @include wrap_text;
      width: 90%;
      transition: all .5s ease-in-out;
    }

    p {
      @include wrap_text;
      width: 85%;
      font-size: 0.9em;
      font-weight: lighter;
      transition: all .5s ease-in-out;
    }

    .prix {
      font-size: 14px;
      font-weight: bold;
      position: relative;
      align-self: flex-end;
      top: 23px;
      transition: all .5s ease-in-out;
    }


    .green_check {
      z-index: -1;
      position: absolute;
      right: -40px;
      height: 66px;
      width: 0px;
      background-color: #99E2D0;
      border-top-right-radius:1.4em ;
      border-bottom-right-radius: 1.4em;
      transition: all .5s ease-in-out;
      }

    .fa-check-circle {
    color: white;
    opacity: 0;
    font-size: 21px;
    position: relative;
    right: -35px;
    top: -8px;
    align-self: flex-end;
    transition: all .4s .1s ease-in-out;
    }

    
  
  }
}

.menu__card__description:hover {
  h3 {
    width: 70%;
  }

  p {
    width: 70%;
  }

  .prix {
    transform: translateX(-50px);
  }

  .green_check {
    z-index: 1;
    opacity: 0.9;
    transform: translateX(-60px);
    width: 60px;
    
  }

  i {
    z-index: 2;
    transform: translateX(-40px) rotate(-360deg);
    opacity: 1; 
    color: white;
  }

  
}