footer {
  background-color: #353535 ;
  padding-bottom: 20px !important; 

  h4 {
    font-family: "Shrikhand", cursive;
    color: #fff;
    font-weight: 100;
    font-size: 1.3em;
    padding: 25px 0 20px 0;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    color: white;

    i {
      margin-right: 8px;
      
    }
  }
}
