.header__acceuil {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

    .logo {
      display: block;
        
        img {
        height: 24px;

        }
    }
}


.header__restaurant {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
 
  .arrow {
   position: absolute;
   left: 10px;
  }

  .logo {
    display: block;
      
      img {
        height: 24px;
      }
  }
}